body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #000000;
    font-family: "Roboto", sans-serif;
}

.score-stats {
    width: 100%;
    display: flex;
}

.score-background {
    height: 7.5vh;
    width: 100%;
    position: absolute;
}

.score-stats-box {
    width: 100%;
    height: 7.5vh;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.score-stats-text {
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    text-decoration: none;
}

.burn-emoji-score {
    width: 3vh;
    height: 3vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.username {
    color: #FFE9A5;
    font-size: 24px;
    font-weight: bold;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.burn-logo-score {
    width: 60px;
    height: 60px;
}

.score-count {
    color: #FFE9A5;
    font-size: 40px;
    font-weight: bold;
}

.chests {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
    background-color: #f79351;
    border-radius: 25px;
}

.in-chests{
    height: 160px;
    width: 350px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gifts-header {
    display: flex;
    justify-content: start;
    color: #FFED69;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 12vh;
}

.chest {
    width: 10vh;
    height: 10vh;
}

.open-chest {
    color: #FFED69;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10vh;
}

.navigation {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%; /* Обеспечивает, что элементы будут распределены по всей ширине */
    background-color: #000000; /* Фон для навигации */
    padding-bottom: 5vh;
}

.nav-item {
    color: #ffffff; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    text-decoration: none; /* Убирает подчеркивание */
    font-size: 14px; /* Размер шрифта */
    display: flex;
    flex-direction: column; /* Вертикальное расположение иконки и текста */
    align-items: center; /* Центрирование элементов */
}

.nav-item img {
    width: 24px; /* Ширина иконки */
    height: 24px; /* Высота иконки */
    margin-bottom: 5px; /* Отступ между иконкой и текстом */
}
