body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #000000;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.cup-emoji-animated {
    width: 80px;
    height: 80px;
    margin-top: 3.5vh;
}

.stats-header {
    color: white;
    font-size: 3vh;
    font-weight: bold;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    text-align: center;
}

.user-stats-box {
    width: 85vw;
    background-color: rgba(255, 255, 255, 0.144);
    border-radius: 25px;
    width: 85vw;
    height: 20vw;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5vh;
}

.username-and-burn-count-box {
    flex-direction: column;
    align-items: center;
    margin-left: 7vw;
}

.username {
    text-align: center;
    color: white;
    font-size: 2vh;
    font-weight: bold;
    margin-bottom: 1.5vw;
}

.burn-count {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.7vh;
}

.user-rank {
    color: white;
    font-size: 2vh;
    font-weight: bold;
    margin-right: 7vw;
}

.total-users {
    color: white;
    font-size: 2vh;
    font-weight: bold;
    text-align: left;
    width: 85vw;
}

.navigation {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%; /* Обеспечивает, что элементы будут распределены по всей ширине */
    background-color: #000000; /* Фон для навигации */
    padding-bottom: 5vh;
}

.nav-item {
    color: #ffffff; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    text-decoration: none; /* Убирает подчеркивание */
    font-size: 14px; /* Размер шрифта */
    display: flex;
    flex-direction: column; /* Вертикальное расположение иконки и текста */
    align-items: center; /* Центрирование элементов */
}

.nav-item img {
    width: 24px; /* Ширина иконки */
    height: 24px; /* Высота иконки */
    margin-bottom: 5px; /* Отступ между иконкой и текстом */
}
