body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #000000;
    font-family: "Roboto", sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%; /* Обеспечивает, что элементы будут распределены по всей ширине */
    background-color: #000000; /* Фон для навигации */
    padding-bottom: 5vh;
}

.nav-item {
    color: #FFE9A5; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    text-decoration: none; /* Убирает подчеркивание */
    font-size: 14px; /* Размер шрифта */
    display: flex;
    flex-direction: column; /* Вертикальное расположение иконки и текста */
    align-items: center; /* Центрирование элементов */
}

.nav-item img {
    width: 24px; /* Ширина иконки */
    height: 24px; /* Высота иконки */
    margin-bottom: 5px; /* Отступ между иконкой и текстом */
}