body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #000000;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.burn-logo {
    width: 150px;
    height: 150px;
}

.tasks-header {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tasks-description {
    color: white;
    font-size: 15px;
    opacity: 65%;
    text-align: center;
    margin-bottom: 20px;
}

.subscription {
    display: flex;
    align-items: center;
    padding: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 85vw;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.text {
    flex: 1;
}

.title {
    color: white;
    font-size: 16px;
    font-weight: 650;
    padding-bottom: 1vh;
}

.points {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.open-button {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрирование по горизонтали и вертикали */
    height: 35px;
    width: 75px;
    border-radius: 25px;
    background-color: #2D2D2D;
}

.open {
    color: white;
    font-size: 16px;
    font-weight: 650;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%; /* Обеспечивает, что элементы будут распределены по всей ширине */
    background-color: #000000; /* Фон для навигации */
    padding-bottom: 5vh;
}

.nav-item {
    color: #FFE9A5; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    text-decoration: none; /* Убирает подчеркивание */
    font-size: 14px; /* Размер шрифта */
    display: flex;
    flex-direction: column; /* Вертикальное расположение иконки и текста */
    align-items: center; /* Центрирование элементов */
}

.nav-item img {
    width: 24px; /* Ширина иконки */
    height: 24px; /* Высота иконки */
    margin-bottom: 5px; /* Отступ между иконкой и текстом */
}
